<html lang="en">
<head>  
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>[[title]]</title>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
<style> 
body {
    width: 70%;
}
    
table thead th { 
    background-color: lightblue;
    color: green;
}
</style>
</head>
<body>
